{% extends 'registration/registration_base.html' %}
{% load bootstrap3 %}

{% block title %} Reset Password| {{block.super }}{% endblock %}

{% block content %}
    <div class="bounds">
    <div class="grid-30 centered">
      <h1>Forget your password?</h1>
    <p>Reset your password here.</p>
    <form method="post">
        {% csrf_token %}
        {%bootstrap_form form %}
        <input type="submit" value="Send me intructions" class="btn btn-default">
    </form>
    </div>
  </div>

{% endblock %}