{% extends 'registration/registration_base.html' %}
{% load bootstrap3 %}
{% block title %}{% endblock %}
{% block meta %}{% endblock %}

{% block content %}
<div class="bounds">
    <div class="grid-30 centered">
      <h2>Sign Up</h2>
      <form method="post">
        {% csrf_token %}
          {% bootstrap_form form %}
        <button class="button-primary" type="submit">Sign Up</button>
        <a class="button" href="{% url 'auth_login' %}">Sign In</a>
      </form>
    </div>
  </div>
</body>
{% endblock %}