{% extends 'registration/registration_base.html' %}

{% block title %}Notifications | {{ block.super }}{% endblock %}

{% block content %}
 <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'accounts:applications' %}">Project Applications</a></li>
        <li><a href="{% url 'accounts:profile' username=user.username %}">{{ user.username|title }}'s Profile</a></li>
          <li><a class="selected" href="{% url 'accounts:my_notifications' %}">My Notifications</a> </li>
          <li><a href="{% url 'projects:my_projects' %}">My Projects</a> </li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">

    <div class="grid-70">
        <h2>Recent Notifications</h2>
      <div class="circle--article--body">
      {% if unreads %}
        {% for message in unreads %}
            <p>{{ message.verb }}</p>
            <p><strong>{{ message.timestamp}}</strong></p>
            <hr/>
          {% endfor %}
      {% else %}
          <p>No messages to display.</p>
      {% endif %}
      </div>
    </div>

  </div>
{% endblock %}