{% extends 'registration/registration_base.html' %}
{% load bootstrap3 %}

{% block title %}Edit Project |{{ block.super }}{% endblock %}

{% block content %}
    {% if messages %}
        {% for msg in messages %}
    <div class="alert alert-{{ message.tags }}">{{ msg }}</div>
    {% endfor %}
    {% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <button class="button button-primary icon-on-left" type="submit" id="form-submit">Save Changes</button>


      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">



      <div class="circle--project--positions">
        <h2>Positions</h2>
      {% bootstrap_form form %}

        <ul class="circle--group--list circle--clone--list">
            {{ formset.management_form }}
            {% for fset in formset %}
            <li>
                <div class="formset">{{ fset }}</div>

            </li>
            {% endfor %}
        </ul>

        <button class="button button-primary icon-on-left" type="submit" id="form-submit">Save Changes</button>

      </div>
    </div>
     </div>

    <div class="grid-25 grid-push-5">

  </div>
  </div>
 </form>
{% endblock %}
{% block javascript %}
    {% load static from staticfiles %}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        $('.formset').formset({
            addText: 'add skill',
            deleteText: 'remove'
        });
    </script>
{% endblock %}